<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">Quienes Somos</a>
                    </li>
                    <li>
                        <a href="services.html">Cursos</a>
                    </li>
                    <li>
                        <a href="/Login">Login</a>
                    </li>
                    <li>
                        <a href="/register.html">Registro</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <div class="container">
    	<div class="row">
    		<!-- Carousel -->
        	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    			<!-- Indicators -->
    			<ol class="carousel-indicators">
    			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    			</ol>
    			<!-- Wrapper for slides -->
              <%= @news=findnewtime %>
              <%= @news.each do |new| %>
    			    <div class="item">
    			    	<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
    			    	<!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>
                                    <span><%= new.title %></span>
                                </h2>
                                <br>
                                <h3>
                                	<span><%=new.description %></span>
                                </h3>
                                <br>
                        </div><!-- /header-text -->
    			    </div>
    			</div>
          <% end %>
    			<!-- Controls -->
    			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    		    	<span class="glyphicon glyphicon-chevron-left"></span>
    			</a>
    			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    		    	<span class="glyphicon glyphicon-chevron-right"></span>
    			</a>
    		</div><!-- /carousel -->
    	</div>
    </div>
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenidos <br /> Cusos Nuevos
                </h1>
            </div>
            <%= @Courses=findcoursetime %>
            <%= @Courses.each do |course| %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i><%= course.title %><</h4>
                    </div>
                    <div class="panel-body">
                        <p><%= course.description %></p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenidos <br /> Cusos Nuevos
                </h1>
            </div>
            <%= @Users = Courses.all %>
            <%= @Users.each do |user| %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i><%= user.user_name %><</h4>
                    </div>
                    <div class="panel-body">
                        <p><%= user.email %></p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Login y Registro</h2>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a href="contact.html">Login</a></li>
                    <li><a href="contact.html">Registro</a></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
