
<!-- Header Carousel -->
 <div class="container">
	 <div class="row">
		 <!-- Carousel -->
			 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			 <!-- Indicators -->
			 <ol class="carousel-indicators">
					 		<% @news.each do |new| %>
					 				<% if @count == 0 %>
					 						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<% @count += 1 %>
					 				<% else %>
					 						<li data-target="#carousel-example-generic" data-slide-to="<%= @count %>"></li>
					 				<% @count += 1 %>
					 				<% end %>
							<% end %>
              <% @count = 0 %>
			 </ol>
			 <!-- Wrapper for slides -->
       <div class="carousel-inner">
			 <% @news.each do |new| %>
       <% if @count == 0 %>
			   <div class="item active">
          <% @count += 1 %>
       <% else %>
         <div class="item">
       <% end %>
				 <img src="<%= new.photo %>">
				 		<!-- Static Header -->
						<div class="header-text hidden-xs">
						 		<div class="col-md-12 text-center">
									<h2><span><%= new.title %></span></h2><br>
									<h3><span><%= new.description %></span></h3><br>
								</div><!-- /header-text -->
					 	</div>
			 </div>
			 <% end %>
		 </div><!-- /carousel -->
	 </div>
   <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
   </a>
   <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
   </a>
 </div>

 <!-- Page Content -->
 <div class="container">
   <!-- Marketing Icons Section -->
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <% @news.each do |new| %>
        <% if @count == 0 %>
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <% @count += 1 %>
        <% else %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= @count %>"></li>
          <% @count += 1 %>
        <% end %>
       <% end %>
       <% @count = 0 %>
     </ol>
     <div class="row">
       <div class="col-lg-12">
         <h1 class="page-header">Bienvenidos a DESTINY
         </h1>
       </div>
       <% @courses.first(3).each do |course| %>
       <div class="carousel-inner">
         <% @news.each do |new| %>
          <% if @count == 0 %>
          <div class="item active">
          <% @count += 1 %>
          <% else %>
          <div class="item">
          <% end %>
             <div class="panel panel-default">
               <div class="panel-heading">
                 <h4><i class="fa fa-fw fa-check"></i><%=course.title%></h4>
               </div>
               <div class="panel-body">
                 <p> <%=course.description%> </p>
               </div>
             </div>
           </div>
         </div>
         <% end %>
       </div><!-- /carousel -->
       <% end %>
       <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
       </a>
     </div>
   </div>
 </div>
			 <!-- /.row -->

			 <!-- Footer -->
			 <footer>
					 <div class="row">
							 <div class="col-lg-12">
									 <p>Copyright &copy; Your Website 2014</p>
							 </div>
					 </div>
			 </footer>

	 </div>
	 <!-- /.container -->

	 <!-- jQuery -->
	 <script src="js/jquery.js"></script>

	 <!-- Bootstrap Core JavaScript -->
	 <script src="js/bootstrap.min.js"></script>

	 <!-- Script to Activate the Carousel -->
	 <script>
	 $('.carousel').carousel({
			 interval: 5000 //changes the speed
	 })
	 </script>
